<dx-scheduler
  id="scheduler"
  [dataSource]="appointments"
  textExpr="title"
  allDayExpr="dayLong"
  recurrenceRuleExpr="recurrence"
  [(currentDate)]="currentDate"
  currentView="week"
  timeZone="Europe/Berlin"
  [adaptivityEnabled]="true"
>
  <dxi-view type="day" [startDayHour]="10" [endDayHour]="22"> </dxi-view>
  <dxi-view type="week" [startDayHour]="10" [endDayHour]="22"> </dxi-view>
  <dxi-view type="month"></dxi-view>
  <dxo-editing [allowDragging]="false" [allowTimeZoneEditing]="true">
  </dxo-editing>
</dx-scheduler>
